doctype html
html
  head
    meta(charset="utf-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    style.
      * {
          font-family: sans-serif;
        }
      input[type="text"], textarea {
        display: block;
        padding: 4px;
        margin-bottom: 16px;
      }
    title Update Story
  body
    h1 Update Story
    small &nbsp;
      a(href="/") back
    hr
    
    form#update
      input(type="hidden", name="_id", value= story._id)

      label(for="title") Title
      input(type="text", name="stitle", value= story.stitle, placeholder="Title", size="34", id="title")
      
      label(for="content") Content
      textarea(cols="40", rows="8", name="scontent", placeholder="Story", id="content")= story.scontent
      
      input(type="submit", value="Update")

    script.
      $(document).ready(function () {
        $("#update").on('submit', function(event) {
          event.preventDefault()
          const story = $(this).serialize()

          $.ajax({
            url: '/update',
            method: 'put',
            data: story,
            success: function(result, status, xhr) {
              console.log('success')
              window.location.href = result.redirectTo
            },
            error: function(xhr, status, error) {
              console.log('error')
            }
          })
        })
      })