doctype html
html
  head
    meta(charset="utf-8")
    title Update Story
  body
    h1 Update Story
    small &nbsp;
      a(href="/") back
    hr
    
    form(method="post", action=`/update/${story._id}`)
      p
        input(type="text", name="stitle", value= story.stitle, placeholder="Story Title")
      p
        textarea(cols="37", rows="5", name="scontent", placeholder="Story goes here")= story.scontent
      p
        input(type="submit", value="Update")
